<app-breadcrumb></app-breadcrumb>
<section>
    <div class="custom-container">
        <div class="">
            <h1 class="text-[30px] font-bold ">Work</h1>
        </div>
        <div class="section-body" *ngFor="let project of projects , let i=index">
            <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
                <div class="project__img">
                    <a routerLink="/portfolio/project/{{project.id}}"><img src="{{project.img}}" alt=""
                            class="project__thumb"></a>
                </div>
                <div class="project__content">
                    <a routerLink="/portfolio/project/{{project.id}}">
                        <h3 class="project__name">{{project.title}}s</h3>
                    </a>
                    <div class="project__meta">
                        <span class="project__create">{{project.year}}</span>
                        <a href="" class="project__category">{{project.category}}</a>
                    </div>
                    <p class="recent-post__desc">{{project.desc}}</p>
                </div>
            </div>
        </div>
    </div>

</section>