<!-- <div class="cate">
    <div class="c">
        <div class="cate-new">
            <div class="ct">
                <h3>Xu hướng 2019</h3>
                <h1>ĐỒNG HỒ NAM</h1>
            </div>
            <div>
                <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/280294624_1202938893806845_8268175396846390911_n.png?_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=efI5jgPtNt0AX9NqjN5&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJn5tY-CSEoWROF5IflF05E9owqSEt-V624qrl-RP0WXg&oe=62B8D098"
                    alt="" width="585px" height="300px">
            </div>
        </div>
        <div class="cate-new">
            <div class="ct">
                <h3>Xu hướng 2019</h3>
                <h1>ĐỒNG HỒ NỮ</h1>
            </div>
            <div>
                <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/282459160_720080852533916_5848403143447769181_n.png?_nc_cat=100&ccb=1-7&_nc_sid=aee45a&_nc_ohc=luvn-wmtiF4AX95xn-o&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJydGPQ6YVh-m5v2BHtZm17FUoLEMa5k5doR2apcpz5SQ&oe=62B83C49"
                    alt="" width="585px" height="300px">
            </div>
        </div>
    </div>
</div> -->