<header>
    <div class="custom-container">

        <div class="py-5">
            <div class="flex justify-end items-center">
                <button class="md:hidden">
                    <i nz-icon nzType="menu" nzTheme="outline" style="font-size: 25px;"></i>
                </button>
            </div>
            <div class="flex justify-end">
                <ul class="hidden md:flex space-x-4">
                    <li><a routerLink="/portfolio" class="text-[20px] font-bold">Home</a></li>
                    <li><a routerLink="project" class="text-[20px] font-bold">Works</a></li>
                    <li><a routerLink="blog" class="text-[20px] font-bold">Blog</a></li>
                    <li><a routerLink="contact" class="text-[20px] font-bold">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>