.custom-container {
    @apply max-w-4xl mx-auto px-5
}
.title-form {
   font-size: 44px;
   padding: 40px 0;
}

.subTitle {
   padding-bottom: 30px;
}

.area-flied {
   min-height: 100px !important;
}
.input-flied{
   width: 100%;
   height: 40px;
   border: 1px solid black;
   padding-left: 10px;
}