
<section class="banner">
    <div class="custom-container">
        <div class="grid md:grid-cols-3 gap-8">
            <div class="banner-content">
                <h2 class="banner-contenet__title">
                    Hi, I am Moi,
                </h2>
                <h2 class="banner-contenet__title text-pink-500">
                    Font-end Developer
                </h2>
                <p class="banner-content__desc">Hi, my name is Quang and I'm a front end developer. Welcome to my
                    personal website!</p>
                <a href="https://www.topcv.vn/download-cv?cv_id=VQwEBQECVQMLX1dQAlRVAgdXVFZXUQUNAVQGBQ9b41&dontcount=1"
                    class="btn btn-danger banner-content__button">Download Resume</a>
            </div>
            <div class="banner-picsum">
                <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/278979470_716705392853562_1086265818398991727_n.png?_nc_cat=110&ccb=1-7&_nc_sid=aee45a&_nc_ohc=dC1YoffinDIAX8g_Pdr&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIh3O2EI9v7Uak2XXOo6K0kYitTgW40z7cJYR-phECI6A&oe=62CFF272"
                    alt="" class="banner-picsum__thumb">
            </div>
        </div>
    </div>
</section>