<section class="recent-post">
    <div class="custom-container">
        <div class="section-header">
            <h2 class="section-header__title">Recent posts</h2>

            <a href="">View all</a>
        </div>
        <div class="section-body">
            <div class="grid justify-evenly md:grid-cols-2 gap-8">
                <div class="recent-post__item">
                    <a href="" class="text-black">
                        <h1 class="recent-post__title">Making a design system from scratch</h1>
                    </a>
                    <div class="recent-post__meta">
                        <span class="text-[18px] font-[500]">12 Feb 2020</span>
                        <span>|</span>
                        <a href="" class="text-[18px] font-[500] text-[#21243D]">Design, Pattern</a>
                    </div>
                    <p class="recent-post__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia
                        consequat
                        duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
                <div class="recent-post__item">
                    <a href="" class="text-black">
                        <h1 class="recent-post__title">Creating pixel perfect icons in Figma</h1>
                    </a>
                    <div class="recent-post__meta">
                        <span class="text-[18px] font-[500]">12 Feb 2020</span>
                        <span>|</span>
                        <a href="" class="text-[18px] font-[500] text-[#21243D]">Figma, Icon Design</a>
                    </div>
                    <p class="recent-post__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia
                        consequat
                        duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>