.login-form {
    max-width: 500px;
    margin: 0 auto;
}

.login-form label {
    font-size: 16px;
    color: rgb(122, 122, 224);
}

.login-form-margin {
    margin-bottom: 16px;
}


.login-form-button {
    width: 35%;
    margin-left: 170px;
}

nz-input-group input {
    padding: 10px 350px 10px 5px;
}