<app-breadcrumb></app-breadcrumb>

<section class="detail">
    <div class="custom-container">
        <div class="top_project">
            <h2 class="project__name">Designing Dashboards with </h2>
            <h2 class="project__name">{{project.title}}</h2>

            <div class="project__meta">
                <span class="project__create">{{project.year}}</span>
                <a href="" class="project__category">{{project.title}}</a>
            </div>
            <p class="project__desc">{{project.desc}}</p>
            <img src="{{project.img}}" alt="" class="py-10" width="681px" height="460px">
        </div>
        <div class="bottom-project">
            <h1 class="text-[30px] font-bold">Heading 1</h1>
            <h2 class="text-[26px] font-bold">Heading 2</h2>

            <p class=" project__desc py-6">{{project.desc}}</p>

            <img src="{{project.img}}" alt="" class="pb-5" width="681px" height="460px">

        </div>
    </div>
</section>