<app-breadcrumb></app-breadcrumb>
<div class="work-detail custom-container">
    <div class="project-main">
        <div class="project-items">
            <div class="project-item-content">
                <div class="project-items-title">
                    <h4>{{ blog.title }}</h4>
                </div>
                <div class="project-item-info">
                    <div class="date">
                        {{ blog.createAt }}
                    </div>
                    <div class="category">
                        {{ blog.category }}
                    </div>
                </div>
                <div class="project-item-details">
                    {{ blog.subTitle }}
                </div>
            </div>
        </div>
        <div class="project-items-sub">
            <div class="project-items-sub-title">

            </div>
            <div class="project-items-sub-desc" [innerHTML]="blog.content"></div>

        </div>
    </div>
</div>