<div class="banner"
    style="background-image: url(https://cdn0.fahasa.com/media/magentothem/banner7/20_11_mainbanner_Slide_840x320.jpg);">
    <div class="text dark">
        <div class="text-inner text-left">
            <h4>FAHASA</h4>
            <h1>BookBuy</h1>
            <p>Sách chứa đựng nhiều giá trị văn hóa tinh thần (các tác phẩm sáng tác hoặc tài liệu biên soạn) 
                thuộc các hình thái ý thức xã hội và nghệ thuật khác nhau, được ghi lại dưới các dạng ngôn ngữ khác nhau 
                (chữ viết, hình ảnh, âm thanh, ký hiệu,...)</p>
            <a [routerLink]="['/filter']" routerLinkActive="router-link-active">
                <span>Xem sản phẩm</span>
            </a>
        </div>
    </div>
</div>